/**
 * Site header
 */
.site-header {
  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  font: normal normal normal 56px/1.5 FuturaDCDBoo;
  margin: auto;
  text-align: center;
  
  padding-top: $list-spacing-unit;
  padding-bottom: 30px
  a {
    color: $black-color;
  }
  a:hover {
    text-decoration: none;
  }
}

.site-nav {
  list-style-type: none;
  margin: auto;
  display: block;
  text-align: center;
  width: 50%;
  padding-bottom: 50px;
  
  li {
    display: inline;
    margin: auto;
    padding: 0 20px;
    width: 20%;
    font: normal normal normal 28px/3 BourtonHandLineMedium;
  }
}

/**
 * Site footer
 */
.contact-list,
.social-media-list {
  list-style: none;
  margin: auto;
  display: block;
  width: 50%;
  text-align: center;
  padding-top: $list-spacing-unit/2;
  padding-bottom: $list-spacing-unit;

  li {
    display: inline-block;
    margin: 0 10px 0 10px;
    height: 50px;
    width: 50px;
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
}

.page-heading {
  @include relative-font-size(1.25);
}

.media-list {
  list-style-type: none;
  margin-left: 0;
  list-style: none;

  > li {
    margin: auto;
    margin-bottom: $list-spacing-unit;
    text-align: center;
  }
}

.news-list {
  list-style-type: none;
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $list-spacing-unit;
  }
}

.post-meta {
  font: normal normal normal 20px/3 BourtonHandLineMedium;
  color: $grey-color;
  display: block;
}

.post-link {
  @include relative-font-size(1.5);
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.media-title {
  @include relative-font-size(2.625);
  font: normal normal normal 26px/3 BourtonHandLineMedium;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.news-title {
  @include relative-font-size(2.625);
  font: normal normal normal 26px/3 BourtonHandLineMedium;
  letter-spacing: -1px;
  line-height: 1;
  
  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.media-video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.media-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.news-image {
  width: 100%;
}

.post-content {

  h2 {
    font: normal normal normal 24px/3 BourtonHandLineMedium;
  }

  h3 {
    font: normal normal normal 22px/3 BourtonHandLineMedium;
  }

  h4 {
    font: normal normal normal 20px/3 BourtonHandLineMedium;
  }

  ul, li {
    list-style-position: inside;
  }
}

.post-media-link {
  display: block;
  text-align: center;
  font: normal normal normal 22px/3 BourtonHandLineMedium;
}

.rss-subscribe {
  text-align: center;
  font: normal normal normal 28px/3 BourtonHandLineMedium;
}
