<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">

        <div>
          <ul class="site-nav">
            {% for item in site.data.nav.nav %}
              {% if page.url == item.url %}
                <li class="active">{{ item.title }}</li>
              {% else %}
                <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>

        {{ content }}
      </div>
    </main>

    {% include footer.html %}

  </body>

</html>
