---
layout: default
---

<div class="home">

  {{ content }}
  
  <ul class="media-list">
    {% for post in site.categories.media %}
      <li>
        <h2 class="media-title">{{ post.title | escape }}</h2>
        {% assign date_format = site.minima.date_format | default: "%d/%m/%y"  %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <div>
          {% if post.youtube-embed %}
          <div class="media-video">
            <iframe width="100%" height="auto" src="{{ post.youtube-embed }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          {% endif %}
          {% if post.youtube %}
            <span class="post-media-link">
              <a href="{{ post.youtube }}" target="_blank">YouTube</a>
            </span>
          {% endif %}

          {% if post.vimeo-embed %}
          <div class="media-video">
            <iframe width="100%" height="auto" src="{{ post.vimeo-embed }}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
          {% endif %}        
          {% if post.vimeo %}
            <span class="post-media-link">
              <a href="{{ post.vimeo }}" target="_blank">Vimeo</a>
            </span>
          {% endif %}
        </div>

        <div class="post-content" itemprop="articleBody">{{ post.content }}
          {{ content }}
        </div>

      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe"><a href="{{ "/feed.xml" | relative_url }}">subscribe via RSS</a></p>

</div>
